# Byte-compiled / optimized / DLL files
**/__pycache__

# Environment variables
.env

# Database files
*.db

# Data directories
/data

# Coverage reports
.coverage*

# macOS specific files
.DS_Store

# VS Code settings
/.vscode