[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ruff = "*"
pytest-cov = "*"
time-machine = "*"

[packages]
openai-whisper = "*"
watchdog = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-chroma = "*"
pyobjc-framework-scriptingbridge = "*"

[requires]
python_version = "3.11"
